VITE_SUPABASE_URL=your-local-supabase-url-here
VITE_SUPABASE_PUBLISHABLE_KEY=your-local-supabase-publishable-key-here
# Supabase Legacy keys
VITE_SUPABASE_ANON_KEY=your-local-supabase-anon-key-here

VITE_GOOGLE_MAPS_API_KEY=your-google-maps-api-key-here
